.App {
  text-align: center;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.gamescreen {
  position: relative;
  width: 575px;
  height: 550px;
  background-color: cadetblue;
  margin: 40px auto 0 auto;
  border: 2px solid black;
}

.arrow {
  position: absolute;
  bottom: 25px;
  left: 262px; /* 275 - 13 */
  width: 26px;
  height: 75px;
  transform-origin: bottom;
  background: url('./images/arrow.png') no-repeat center;
  margin: 0 auto;
}

.line {
  position: absolute;
  bottom: 100px;
  width: 575px;
  border: solid 1px black;
}

.bubbleToShoot {
  height: 45px;
  width: 45px;
  margin: 2.5px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  position: absolute;
  left: 250px;
  bottom: 0;
  transition: bottom 1s;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.bubble {
  height: 45px;
  width: 45px;
  margin: 2.5px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
}

button{
  padding: 5px 10px;
    font-size: 14px;
    background: #124482;
    border: none;
    color: #fff;
    border-radius: 2px;
}
a{
  font-size: 18px;
  color: red;
  text-decoration: none;

}
ul{list-style: none;}

