.App {
  text-align: center;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.gamescreen {
  position: relative;
  width: 46vw; /*575px*/
  height: 44vw; /*550px*/
  background-color: cadetblue;
  margin: 80px auto 0 auto;
  border: 2px solid black;
  border-radius: 2vw;
}

.arrow {
  position: absolute;
  bottom: 2vw;
  left: 21vw;
  width: 2vw;
  height: 6vw;
  transform-origin: bottom;
  background: url('./images/arrow.png') no-repeat center;
  background-size: 2vw 6vw;
  margin: 0 auto;
  overflow: hidden;
}

.line {
  position: absolute;
  bottom: 8vw;
  width: 46vw;
  border: solid 1px black;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.bubble {
  height: 3.6vw;
  width: 3.6vw;
  margin: 0.2vw;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  z-index: 10;
  /* border: 1px solid black; */
}

