.App {
  text-align: center;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.gamescreen {
  position: relative;
  width: 46vw; /*575px*/
  height: 44vw; /*550px*/
  background-color: cadetblue;
  margin: 80px auto 0 auto;
  border: 2px solid black;
  border-radius: 2vw;
  z-index: 0;
}

.arrow {
  position: absolute;
  bottom: 2vw;
  left: 21vw;
  width: 2vw;
  height: 6vw;
  transform-origin: bottom;
  background: url('./images/arrow.png') no-repeat center;
  background-size: 2vw 6vw;
  margin: 0 auto;
  overflow: hidden;
}

.line {
  position: absolute;
  bottom: 8vw;
  width: 46vw;
  border: solid 1px black;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.bubble {
  height: 3.6vw;
  width: 3.6vw;
  margin: 0.2vw;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  z-index: 10;
  /* border: 1px solid black; */
}

.timer {
  float: right;
  width: 20vw;
  margin-right: 6.5vw;
  background-color: cadetblue;
  border: 2px solid black;
  border-radius: 2vw;
}

.gamestatus {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 22vw auto 0 auto;
  padding: 30px 0;
  z-index: 10;
}


form {
  width: 200px;
  margin: 0 auto;
}

input, input:focus {
  text-align: center;
  width: 150px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  background-color: rgb(211, 234, 241);
  border: solid 1px black;
}

button {
  width: 120px;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(211, 234, 241);
  border: solid 1px black;
  transition: transform 0.1s;
}
button:hover {
  transform: scale(1.2);
}
button:active {
  transform: scale(0.9);
}
button:focus {
  outline: none;
}

.highScores {
  clear: both;
  float: right;
  width: 20vw;
  margin-right: 6.5vw;
  background-color: cadetblue;
  border: 2px solid black;
  border-radius: 2vw;
}
.highScores ul {
  list-style: none;
  padding: 0;
}
